
[Unit]
Description=Camera Service
After=network.target

[Service]
Type=simple
User=admin
Group=admin
WorkingDirectory=/home/admin/camera_service
ExecStart=/home/admin/camera_service/venv/bin/python3 /home/admin/camera_service/camera_service.py
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=camera_service

[Install]
WantedBy=multi-user.target
