[Unit]
Description=Configure secondary IP for fixed-address cameras
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/ip a
ExecStop=/sbin/ip a
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
